@page "/todos"

@rendermode InteractiveServer

@using TodoProject.Models

<div class="mb-4">
	<input type="text" @bind="newTodo" />
	<button type="button" class="btn btn-primary" @onclick="AddTodo">Add</button>
</div>

<ul class="list-unstyled">
	<ItemsListComponent Items="items"></ItemsListComponent>
</ul>

@code {
	public string newTodo = "";

	public List<TodoItem> items = TodoItemRepository.TodoItems;

	public void AddTodo()
	{
		var todo = new TodoItem
		{
			Title = newTodo
		};
		TodoItemRepository.AddTodo(todo);

		items = TodoItemRepository.TodoItems;

		newTodo = "";
	}

}
