@page "/servers"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br />
<br />

<CityListComponent @ref="cityListComponent" SelectCityCallback="HandleCitySelection"></CityListComponent>

<br />

<br />

<SearchBarComponent @ref="searchBarComponent" SearchServerCallback="HandleSearch"></SearchBarComponent>

<ServerListComponent 
    @rendermode="InteractiveServer" 
    CityName="@this.selectedCity"
    serverFilter="@this.serverFilter"></ServerListComponent>

<p>
    <a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

@code {
    private string selectedCity = "Toronto";

    private string serverFilter = "";

    private CityListComponent? cityListComponent;

    private SearchBarComponent? searchBarComponent;

    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        this.serverFilter = string.Empty;

        searchBarComponent?.ClearFilter();
    }

    private void HandleSearch(string serverFilter)
    {
        this.serverFilter = serverFilter;

        cityListComponent?.ClearSelection();
    }
}
