@page "/servers"

@rendermode InteractiveServer

@inject NavigationManager NavigationManager

<h3>Servers</h3>
<br />
<br />

<CityListComponent @ref="cityListComponent" SelectCityCallback="HandleCitySelection"></CityListComponent>

<br />

<br />

<SearchBarComponent @ref="searchBarComponent" 
SearchServerCallback="HandleSearch"
style="width:1000px"
data-my-attribute="my data"
></SearchBarComponent>

<CascadingValue Name="SelectedCity" Value="@selectedCity">

	<ServerListComponent @rendermode="InteractiveServer"
	CityName="@this.selectedCity"
	serverFilter="@this.serverFilter"
	AnoterParam="anotherParam">
	</ServerListComponent>

</CascadingValue>

<p>
	<a href="/servers/add" class="btn btn-primary">Add Server</a>
</p>

<p>
	<button class="btn btn-primary"
	@onclick="@(() => {
			Random rnd = new Random();
			anotherParam = rnd.Next(0, 100);
		})">
		Change Param
	</button>
</p>

@code {
	private string selectedCity = "Toronto";

	private string serverFilter = "";

	private int anotherParam;

	private CityListComponent? cityListComponent;

	private SearchBarComponent? searchBarComponent;

	private void HandleCitySelection(string cityName)
	{
		selectedCity = cityName;
		this.serverFilter = string.Empty;

		searchBarComponent?.ClearFilter();
	}

	private void HandleSearch(string serverFilter)
	{
		this.serverFilter = serverFilter;

		cityListComponent?.ClearSelection();
	}
}
